
        <div class="userWelcome">
            <h2> Reddit Booyah </h2>
        </div>

        <p></p>

        <% posts.forEach(function (post){ %>
            <div class="postBox">
                <a href="/users/<%= post.user_id%>/posts/<%= post.id %>"><h4 class="postTitle"><%=post.title %></h4></a>
                <p class="postBody">
                    <%= post.body %>
                </p>
                </p>
                <a href="/users/<%= post.user_id%>"><h4 class="postTitle"><h6><%= post.username %></h6></a>
            </div>
            <% }) %>
