<!DOCTYPE html>
<html>

    <head>
        <!-- jquery -->
        <script src="http://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        <!-- semantic ui js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.js" charset="utf-8"></script>
        <!-- semantic ui css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css">
        <!-- my js -->
        <script src="/app.js" charset="utf-8"></script>
        <!-- my css -->
        <link rel="stylesheet" href="/style.css">

        <meta charset="utf-8">
        <title>Your Posts</title>
    </head>

    <body>
      <div class="ui secondary pointing menu">
        <a href="/posts" class="item">
          Home
        </a>
        <% if (session.user) { %>
          <a href="/users/<%=session.user.id%>" class="item active">
            Your Page
          </a>
        <% } %>
        <div class="right menu">
          <% if (session.user) { %>
            <a href="/logout" class="ui item">
              Logout
            </a>
          <% } else { %>
            <a href="/login" class="item">
              Login
            </a>
            <a href="/signup" class="item">
              Sign up
            </a>
          <% } %>
        </div>
      </div>

        <button><a href="/users/<%=session.user.id%>/edit" class = 'btn btn-info'> Edit Your User Info</a></button>
        <button><a href="/users/<%=session.user.id%>/delete" class = 'btn btn-info'> Delete Yourself as a User</a></button>


              <h1>Here are posts by: <%=userName%>!</h1>

              <div class = 'col-xs-6'>
                  <h1>here are your posts.</h1>

                  <%thisUsersPosts.forEach(function(post){ %>
                          <h3>        <a href="users/<%=userId%>/posts/<%=post.id%>"> <%= post.title %></a>          </h3>
                          <h3> <a href= "http://<%=post.content_link%>" >  <%= post.content_link %>  </a> </h3>
                          <br>
                      <% }) %>
                      </div>

                      <div class = 'col-xs-6'>
                      <h1>here are your comments.</h1>

                      <%thisUsersComments.forEach(function(comment){ %>

                          <h3>        <%= comment.content %>    </h3>
                          <hr>
                      <% }) %>
                  </div>













    </body>

</html>
